<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC5kMII048q1HE4IlBkqVNc9szPcMAgu8I</string>
	<key>GCM_SENDER_ID</key>
	<string>533843973693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gestionVacaciones2.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gestion-vacaciones</string>
	<key>STORAGE_BUCKET</key>
	<string>gestion-vacaciones.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533843973693:ios:8203eb923f76a145bcfc54</string>
</dict>
</plist>